// reset
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.gate {
  > h3 {
    text-align: center;
    margin: 50px 0 30px;
  }
  div {
    width: 300px;
    margin: 0 auto 20px;
    border: 1px solid #000;
    border-radius: 10px;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 20px 50px;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }

    &:hover {
      background-color: #000;
      > a {
        color: #fff;
      }
    }
  }
}

button {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #727272;
  border-radius: 10px;

  &:hover {
    background-color: #000;
  }
}

.hookuseState {
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;

  > .statetime {
    padding: 50px;
    background-color: rgb(213, 213, 213);

    > div {
      max-width: 700px;
      margin: 0 auto 20px;
      font-size: 18px;
    }
  }

  > .stateinput {
    padding: 50px;
    background-color: rgb(197, 197, 197);

    > input {
      display: block;
      width: 200px;
      height: 30px;
      margin: 0 auto 20px;
    }
  }
}

.Input {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  // border: 1px solid #000;
  box-sizing: border-box;

  > .Title {
    color: #fff;
    font-size: 1.3rem;
    line-height: 2.5;
    text-align: center;
    background-color: #789c73;
  }

  > .wrap {
    margin: 20px;
    box-sizing: border-box;
    > .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 2px solid #e3e3e3;

      > .app_title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 20px;
      }

      > .profile_picture {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: #e3e3e3;
      }

      > .user_profile {
        display: flex;
        flex-direction: column;

        > .user_name {
          color: #000;
          font-size: 2.3rem;
          font-weight: 700;
        }

        > .user_goal {
          color: #789c73;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }

    > .schedule {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      > input {
        width: 70%;
        height: 40px;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid #789c73;
      }

      > .btn {
        width: 25%;
        background-color: #789c73;
      }
    }

    > .user_schedule {
      margin-top: 50px;
      padding-top: 50px;
      border-top: 1px solid #000;
      > div > p {
        width: 100%;
        height: 80px;
        margin-bottom: 20px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 80px;

        border: 1px solid #789c73;
        border-radius: 10px;
        box-sizing: border-box;
      }
    }
  }
}
