@import "~bootstrap/scss/bootstrap";

.app {
  color: #fff;
  text-align: center;
}

section {
  padding: 50px 20px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background-color: #3e72bc;

  > h5 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  > p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  > .btn {
    font-size: 14px;
    font-weight: 600;
    color: #3e72bc;
    background-color: #fff;
  }
}

.container {
  text-align: center;
}

img {
  width: 100%;
}
