.main-bg{
  height: 300px;
  background-image: url(./../public/img/bg.png);
  background-size: contain;
  background-position: center;
}

.main-product {
  
  display: flex;
  justify-content: space-between;
  margin: 25px
}

.main-product > a {
  display: block;
  width: calc(100% / 3 - 20px);
  height: 250px;
}

a,a:hover, a:visited, a:active {
  color:#000;
  text-decoration: none;
}

.main-product > a > img{
  width: 80%;
}
.main-product > a > h4{
  margin-top: 20px;
}
.main-product > a > p{
  margin: 0;
}

.col-md-6>img{
  width: 100%;
}


.popup{
  position: fixed;
  width: 300px;
  height: 300px;
  background-color: rgb(253, 209, 209);
}

.popup > div {
  width: 300px;
  height: 250px;
  background-color: rgb(186, 79, 79);
}
.popup > button {
  margin-top: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
